* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: #1DB954;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-4 {
    display: flex;
    flex-direction: row;
}

.container-3 {
    color: black;
}

.container-1 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: black;
}

.container-5 {
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container-2 {
    width: 100vw;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    /* color: black; */
}


.container-4 {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: black;
}

.project {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* Adjust minmax values as per your need */
    gap: 5rem;
    /* Adjust the gap size as per your need */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
}


.img-1 {
    width: 25rem;
}

.words {
    color: black;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 50px 0;
}

.project {
    margin-bottom: 20px;
}


.example {
    position: relative;
    padding: 0;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.content {
    font-family: optima;
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: black;
    background-color: rgba(200, 200, 200, 0.5);
    width: 400px;
    height: 270px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}

.example .content:hover {
    opacity: 2;
}

.example .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.5s;
}

.example .content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(120px);
}

/* Media queries */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}